<launch>

 <include file="$(find gazebo_ros)/launch/empty_world.launch">
</include>

  <node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find example)/rviz/rviz_config.rviz" output="screen">
  </node>

  <node respawn="true" pkg="joy"
        type="joy_node" name="Joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <node pkg="gazeteste" type="teleop_joy.py" name="Joy2robot"/>

  <node pkg="gazeteste" type="rvizsend.py" name="rvizsend"/>

  <node pkg="gazebo_ros" type="spawn_model" name = "myrob" args="-file $(find create)/model-1_4.sdf -sdf -model create" >
  </node>

</launch>
